<div class="container">
<div class="product row">

    <div class="card col-lg-4 col-md-6 col-sm-12" style="width: 20rem;" *ngFor="let product of products">
        <img [src]="product.imgUrl" class="card-img-top" alt="..." />
            
            
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">₹ {{product.price}}</p>
          <a href="#" class="btn btn-primary">Add to cart</a>
          <a href="#" class="btn btn-primary ms-2"data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click) = "getProductDetail(product)">product details </a>
        
        </div>
      </div>




</div>




</div>







  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Product detail</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 540px" *ngIf="productDetails">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/images/home/img.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ productDetails.name}}</h5>
                      <p class="card-text">₹{{ productDetails.price}}</p>
                      <p class="card-text">{{ productDetails.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add To cart</button>
        </div>
      </div>
    </div>
  </div>